a {
    text-decoration: none;
}

.gallery {
    width: 1024px;
    margin: 0 auto;
}

.gallery__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
}

.btn {
    border: none;
}

.gallery__main-btn {
    width: 150px;
    height: 100px;
    opacity: .4;
    background-color: darkcyan;
    border: 1px dashed black;
}

.btn:hover {
    cursor: pointer;
    outline: 2px solid blue;
}

.btn:disabled {
    cursor: auto;
    outline: none;
}

.gallery__main-btn:disabled {
    opacity: .1;
}

.gallery__main-item {
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__main-item:hover {
    cursor: pointer;
}

.gallery__previews {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.previews__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.previews__item {
    max-width: 10%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.previews__btn {
    margin: 0 10px;
}

.previews__image {
    display: block;
    height: 100%;
}

.gallery__current-img {
    display: block;
    max-height: 100%;
}

.current {
    outline: blue solid 3px;
}
